
table {

    border-collapse: collapse;
    width: 100px;


}

th, td {
 padding: 8px;
 text-align: left;
 border-bottom: 1px solid black;


}

tr:nth-child(even) {
    background-color: rbg(185,185,185);
}

tr:hover {

    background-color: gray;

}


    body {
        background-color: rgba(216, 177, 94, 0.808);


 

    }

    h1 {

        color: green;
        border-radius: 5px;
        text-align: center;

      

    }

    div {

        background-color: rgb(255, 153, 0);
        border-style: none;
        border-color: rgb(166, 255, 0);
        border-radius: 5px;

    }


    #food-model {
  padding: 10px ;
  border-style:solid;
  border-width: 3px;
  margin: 1px;
  background-color: rgba(201, 111, 21, 0.712);
  

    }


    p {
       
        border-width: 1px;
        border-style: none;
        background-origin: padding-box;
       


    }

    img {

        float: center;


    }
    

    .hov {
        height: 5px;
        width: 1280px;
        background-color: rgb(208, 255, 0);

    }

        .hov:hover {
            background-color: rgb(0, 119, 255);

        }


    
    
    


    .shadow-text {

        text-shadow: rgb(0, 204, 255) 1px 1px;


    }

     #large-paragraph {
        font-size: 2px;


    }

   

    .every-third li:nth-child(2n) {
        background-color: rgba(67, 136, 136, 0.808);

    



    }






